<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_Project</title>
</head>
<body>
    <h1 style="background-color:gray;display: flex; justify-content: center; font-style: italic; color: aliceblue;">IPSA</h1>
    <div>
        <div>
            <img src="ipsLogo.jpeg" alt="IPS Academy">
        </div>
        <button onclick="location.href='aboutUs'">About us</button>
        <button onclick="location.href='contact_us'" style="background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    transition: 0.3s ease;
    cursor: pointer; ">Contact us</button>
    </div>
    
</body>
</html>